name: Rugged CI

on:
  pull_request:
  push:
    branches:
    - master
    - maint/*

jobs:
  macOS:
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '2.4.9', '2.5.7', '2.6.5', '2.7.0' ]
        os: [ macOS-latest ]
    runs-on: ${{ matrix.os }}

    name: Ruby ${{ matrix.ruby }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - name: update submodule
      run: git submodule update --init
    - name: Install macOS packages
      run: ./vendor/libgit2/azure-pipelines/setup-osx.sh
    - name: Set up Ruby on macOS
      run: |
        brew install rbenv
        rbenv install ${{ matrix.ruby }}
        rbenv local ${{ matrix.ruby }}
    - name: run build
      run: |
        eval "$(rbenv init -)"
        ruby --version
        gem install bundler
        bundle install --path vendor
        ./script/travisbuild

  ubuntu:
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '2.4', '2.5', '2.6', '2.7' ]
        os: [ ubuntu-18.04 ]
    runs-on: ${{ matrix.os }}

    name: Ruby ${{ matrix.ruby }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - name: update submodule
      run: git submodule update --init
    - name: Install Linux packages
      run: |
        sudo apt update
        sudo apt install -y cmake libssh2-1-dev openssh-client openssh-server
    - name: Set up Ruby on Linux
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: run build
      run: |
        ruby --version
        gem install bundler
        bundle install --path vendor
        ./script/travisbuild
